{% extends 'base.html' %}

{% block content %}

<div class="container mx-auto text-center p-4 ">
    <div class="text-4xl text-center font-bold">
        Welcome to Live Chat Application
    </div>
    {% if message %}
        <div>
            <h4>{{ message }}</h4>
        </div>
    {% endif %}

    <div class="container p-4 mt-20">
        <nav class="space-x-1 text-center m-2">
            <button id="join-button" type="button" class="bg-slate-500 text-base text-white hover:bg-slate-800 font-bold rounded-lg py-2 px-3">
            Join Room
            </button>
            <button id="create-button" type="button" class="bg-slate-500 text-base text-white hover:bg-slate-800 font-bold rounded-lg py-2 px-3">
            Create Room
            </button>
        </nav>
    </div>

    <div id="parent-input-div"></div>
    <button id="btn-submit" class="bg-indigo-500 hover:bg-indigo-600 text-white font-bold rounded-lg px-2 py-2">Join</button>

    
    
</div>

{% endblock %}
