{% extends 'base.html' %}

{% block content %}

<div class="container border border-dark text-center" style="margin-top: 2vw; padding:2vw; width: 50vw; border-radius:10px;">
    <div>
        <h2>Welcome to Live Chat Application</h2>
    </div>
    {% if message %}
        <div>
            <h4 class="text-danger">{{ message }}</h4>
        </div>
    {% endif %}
    <form method="POST" class="form">
        <div style="padding-top: 1vh;">
            <label><strong>User Name : </strong></label>
            <input type="text" name="username" placeholder="Enter your name" required />
            <br>
            <br>
            <label><strong>Room Code : </strong></label>
            <input type="text" name="roomcode" placeholder="Enter Room Code" />
            <br>
            <br>
            <button class="btn btn-dark" type="submit" name="join-room">Join Room</button>
            <h4>OR</h4>
            <button class="btn btn-dark" type="submit" name="create-room">Create New Room</button>
        </div>
    </form>
</div>

{% endblock %}
