{% extends "base.html" %}

{% block content %}

<div class="container border border-dark text-center" style="margin-top: 2vw; margin-bottom: 2vw; padding:2vw; width: 50vw; border-radius:10px;">
    <h2><strong>Chat Room : </strong>{{ room }}</h2>
    <div class="message-box">
        <div class="messages" id="messages">
        </div>
    </div>
    <br>
    <input type="text" rows="3" placeholder="Message" name="message" id="message"  style="width: 30vw; margin-bottom:1vh;"/>
    <br>
    <button class="btn btn-dark" type="button" name="send" id="send-btn" onclick="sendMessage()">Send</button>
</div>

<script type="text/javascript">
    var socketio = io();

    const messages = document.getElementById("messages")

    const createMessage = (name, msg, datetime) => {
        const content = `
        <div class="message-text">
            <span>
                <strong>${name}</strong>: ${msg}
            </span>
            <span class="msgtime-muted">
                ${datetime}
            </span>
        </div>
        `;
        messages.innerHTML += content;
    };
    
    socketio.on("message", (data) => {
        createMessage(data.name, data.message, data.datetime);
    });

    const sendMessage = () => {
        const message = document.getElementById("message")
        if (message.value == "") return;
        socketio.emit("message", {data: message.value})
        message.value = "";
    };

</script>

{% for msg in messages %}
<script type="text/javascript">createMessage("{{ msg.name }}", "{{ msg.message }}", "{{ msg.datetime }}");</script>
{% endfor %}

{% endblock content %}""